*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #192e40;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}
.counter {
  padding-top: 4.8rem;
}
p {
  color: #c4eaf2;
  font-size: clamp(2.2rem, 2.5vw, 2.9rem);
  font-weight: 600;
  margin-bottom: 2rem;
}

button {
  font-size: clamp(0.9rem, 1.5vw, 2rem);
  background: none;
  border: 2px solid #c4eaf2;
  line-height: 1;
  margin: 0.9em;
  padding: 0.8em 1.5em;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
  color: #c4eaf2;
}

button:hover {
  background: #c4eaf2;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:focus {
  outline: 0;
}
